body{background-color: burlywood;
margin-left:5vw;
margin-right:5vw;
font-family: tahoma;}

.caption{
  text-align: center;
  font-size: 10pt;
}

header{background-color:goldenrod;
margin-top: 0px;
padding-left: 1vw;
padding-right:1vw;
padding-top:.25vh;
padding-bottom:.25vh;}

.home-div{
  background-color: beige;
  padding: 2vw;
  margin: 2vw;
}

#home-pancake{
  width: 50vw;
  display:block;
  margin-left:auto;
  margin-right:auto;
  border: khaki solid 2px;
  padding:1.5vw;
  background-color:khaki;
  border-radius:100px;
}

#key-points{background: khaki;
border-radius: 25px;
padding:.5vw;
}

.nav{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: inherit;
  list-style: none;
   background-color: black;
   justify-content: center;
   height:5vh;
   align-items: center;
   text-align: center;
}

.nav-item{
  text-decoration: none;
  color: white;
  margin-left:3vw;
  margin-right:3vw;
  background-color:black;
  font-size: 12pt;
  justify-content: center;

}

.page-title{text-align: center;
}

.pal-about{font-size:16pt;
  margin-top:0;
}

.pals-layout{
margin-top: 5vh;
margin-bottom:5vh;
margin-left:auto;
margin-right:auto;
width:65vw;
background-color:khaki;
padding-left: 2vw;
padding-right:2vw;
padding-top:1vh;
padding-bottom:1vh;
border-radius:40px;
}

.pal-name{
text-align: center;
font-size: 22pt;
margin-bottom: 0;
margin-top:1vh;
font-weight: bold;
}

.pal-picture{
  width: 55vw;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.pancake-picture{
height:40vh;
background-color: khaki;
padding:10px;
margin:1vw;
border-radius:20px;
}

#pancake-picture-div{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;

}

#post-btn{
  display: block;
  margin-right:1vw;
  margin-left:auto;

}

.post-div{
  background-color: khaki;
  margin:1vh;
  list-style: none;
  min-height:8vh;
}


.post-input{display:block;
margin-left:auto;
margin-right:auto;}

.recipe-div{
  width:50vw;
  justify-content: center;
  background-color: khaki;
  margin-left: auto;
  margin-right:auto;
  margin-bottom:5vh;
  padding-bottom: 2vh;
  padding-top: 0.25vh;
  padding-left:1vw;
  padding-right:1vw;
  border-radius:15px;
  
}

.subhead{text-align: center;}
