.caption{
  text-align: center;
  font-size: 10pt;
}


.home-div{
  background-color: beige;
  padding: 2vw;
  margin: 2vw;
}

#home-pancake{
  width: 50vw;
  display:block;
  margin-left:auto;
  margin-right:auto;
}




.nav{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: inherit;
  list-style: none;
   background-color: black;
   justify-content: center;
}

.nav-item{
  text-decoration: none;
  color: white;
  margin:3vw;


  background-color:black;
}

.subhead{text-align: center;}

.pal-about{font-size:16pt;
  margin-top:0;
}

.pal-name{
text-align: center;
font-size: 24pt;
margin-bottom: 0;
}

.pals-layout{
margin-top: 5vh;
margin-bottom:5vh;
margin-left:auto;
margin-right:auto;
width:65vw;
}

.pal-picture{
  width: 55vw;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.recipe-div{
  width:50vw;
  justify-content: center;
  background-color: gainsboro;
  margin-left: auto;
  margin-right:auto;
  padding-bottom: 2vh;
}

.page-title{text-align: center;
text-decoration:underline;}

body{background-color: burlywood;
margin-left:5vw;
margin-right:5vw;
font-family: tahoma;}

header{background-color: blanchedalmond;
margin-top: 0px;
padding-left: 1vw;
padding-right:1vw;}